@using Microsoft.AspNet.Identity
@model IEnumerable<VolkerBook.Models.Members>

<div class="jumboLogin">
    @{
        ViewBag.Title = "Search";
    }

    @if (User.Identity.GetUserName() != "guns_bombs@hotmail.co.uk")

    {
        <br />
    }

    @if (User.Identity.IsAuthenticated)
    {
        if (User.Identity.GetUserName() == "guns_bombs@hotmail.co.uk")
        {
            <div class="pillbg">
                <ul class="nav nav-pills">
                    <li role="presentation"><a href="@Url.Action("Create", "Member")">Add</a></li>
                    <li role="presentation"><a href="@Url.Action("Edit", "Member")">Edit</a></li>
                    <li role="presentation" class="active"><a href="@Url.Action("Search", "Member")">Search</a></li>

                </ul>
            </div>
        }
    }

    @*<p class="alert alert-info">Search for a Member.</p>*@

    <table id="your_employees" class="table table-bordered table-hover table-condensed text-center">
        <thead>
            <tr>
                <th class="text-center">First name</th>
                <th class="text-center">Last name</th>
                
                <th class="text-center">Contact number</th>
                <th class="text-center">Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                    
                    <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.Role)</td>
                </tr>
            }

        </tbody>
    </table>
</div>

@section scripts {
    <script>

        var table = $(document).ready(function() {
            $('#your_employees').DataTable({
                "bPaginate": true,
                "bLengthChange": true,
                "pageLength": 10,
                "oLanguage": {
                    "sSearch": "",
                    "sLengthMenu": "",
                    "oPaginate": {
                        "sFirst": "",
                        "sLast": "",
                        "sNext": "",
                        "sPrevious": ""
                    }
                },
                "bInfo": false,
                "pagingType": "simple",
                "columnDefs": [
                    { "width": "2%", "targets": 3 },
                    {
                        "targets": [3],
                        "visible": false,
                        "searchable": true
                    }

                ],
                
                get responsive() {
                    return {
                        details: {
                            display: $.fn.dataTable.Responsive.display.modal({
                                header: function(row) {
                                    var data = row.data();
                                    return 'Details for ' + data[0] + ' ' + data[1];
                                }
                            }),
                            renderer: function(api, rowIdx, columns) {
                                var data = $.map(columns,
                                    function(col, i) {
                                        return '<tr>' +
                                            '<td class="popup">' +
                                            col.title +
                                            ':' +
                                            '</td> ' +
                                            '<td class="popup">' +
                                            col.data +
                                            '</td>' +
                                            '</tr>';
                                    }).join('');

                                return $('<table/>').append(data);
                            }
                        }
                    };
                }
                
            });
        });
    </script>
}
   